.users-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .users-count {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 606px;
  height: 90px;
  background-color: #b15757;
  color: var(--white-color);
  padding: 30px;
  border-radius: 20px;
}

.user-list-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 210px;
  row-gap: 50px;
  column-gap: 60px;
}
