:host::ng-deep {
  .fa-envelope {
    width: 30px;
    height: 30px;
    color: #ffffff;
  }

  .fa-circle-xmark {
    width: 20px;
    height: 20px;
    color: #ffffff;
  }
}

.message {
  display: flex;
  align-items: center;
  width: 330px;
  height: 80px;
  background-color: #0f172ad9;
  border: 1px solid #ffffff;
  border-radius: 10px;

  .message-wrapper {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 70px;

    .message-info-container {
      display: flex;
      align-items: center;
      gap: 15px;
      margin: 15px 0px 15px 15px;

      .message-title {
        display: flex;
        flex-direction: column;
        color: var(--secondary-text-color);
      }
    }
  }

  .close-message-wrapper {
    display: flex;
    height: 20px;
    padding: 7px;

    .close-message {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.notification-message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
