@use '../assets/mixins' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 156px;
    background-color: #18121E80;
    box-shadow: 0px 2px 4px 0px #00000040;

    .main-header-info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    .header-date-info {
      display: flex;
      align-self: flex-end;
      gap: 50px;

      .header-timer {
        color: var(--white-color);
      }

      .header-counter {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .show-timer-btn {
          margin-left: 50px;
        }

        span {
          color: var(--white-color);
        }
      }

      button {
        @include secondary-button;

        width: 157px;
        height: 44px;
      }

      .counter-btn {
        width: 30px;
        height: 30px;
      }

      .counter-btn:disabled {
        background-color: #1a3e3e81;
        color: var(--white-color);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    .company-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .logo-name {
        font-family: 'Next Art-Regular';
        font-size: 18px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: var(--white-color);
      }
    }
    
    &-info {
      display: flex;
      align-items: center;
      gap: 49px;
    }

    .header-nav {
      display: flex;
      gap: 24px;
      line-height: 100%;

      .active-link {
        color: #0384fc;
      }

      a {
        color: var(--white-color);
        text-decoration: none;
      }
    }


    .consultation-btn {
      @include secondary-button;

      width: 157px;
      height: 44px;
    }
  }
}