@use '../assets/mixins' as *;

.bg-mountains {
  background-image: url('/images/bg-mountains.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.loading-icon {
  animation: rotate 2s linear infinite;
  background: transparent;
}

.loading-wrapper {
  width: 100%;
  height: 985px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.active {
  display: none;
}

.header {
  width: 100%;
  height: 985px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .main-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    .header-date-info {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;

      .header-timer {
        color: var(--white-color);
      }

      .header-counter {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .show-timer-btn {
          margin-left: 50px;
        }

        span {
          color: var(--white-color);
        }
      }

      button {
        @include main-button;

        width: 157px;
        height: 44px;
        color: var(--white-color);
      }

      .counter-btn {
        width: 30px;
        height: 30px;
      }

      .counter-btn:disabled {
        background-color: #1a3e3e81;
        color: var(--white-color);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    height: 72px;

    .company-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .logo-name {
        font-family: 'Next Art-Regular';
        font-size: 18px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: var(--white-color);
      }
    }
    
    &-info {
      display: flex;
      align-items: center;
      gap: 49px;
    }

    .header-nav {
      display: flex;
      gap: 24px;
      line-height: 100%;
    }

    a {
      color: var(--white-color);
      text-decoration: none;
    }

    .consultation-btn {
      @include main-button;

      width: 157px;
      height: 44px;
    }
  }

  .sub-header {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-bottom: 82px;

    .subtitle-container {
      display: flex;
      width: 1080px;
      height: 150px;

      .subtitle {
        color: var(--white-color);
        margin: 0px;
        font-family: 'Next Art-Bold';
        font-size: 50px;
        line-height: 150%;
      }
    }

    .search-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 161px;
      gap: 24px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.25);

      &-container {
        display: flex;
        gap: 24px;
      }

      .input-field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #fff;
      }
      
      .input-field input {
        background: transparent;
        width: 245px;
        height: 30px;
        border: 1px solid #E1E3E4;
        border-radius: 10px;
        padding: 12px;
        color: #fff;
      }

      .input-field input::-webkit-calendar-picker-indicator {
        filter: invert(1);
        cursor: pointer;
        padding: 15px;
        width: 0px;
      }

      .input-field select {
        background: transparent;
        width: 270px;
        height: 55px;
        border: 1px solid #E1E3E4;
        border-radius: 10px;
        padding: 12px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }

      select option {
        text-transform: none;
        color: black;
        overflow-y: hidden;
        align-items: baseline;
      }
      
      .input-field span {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        margin-left: 7px;
      }

      input::placeholder {
        color: var(--white-color);
        font-size: 16px;
        font-weight: 700;
      }

      .search-program-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 213px;
        height: 55px;
        background-color: #fff;
        align-items: center;
        margin-bottom: 25px;
        border: 1px solid #fff;
        border-radius: 4px;
        line-height: 20px;
        cursor: pointer;
      }

      .search-program-btn:disabled {
        background-color: #cccccc;
        color: #504e4e;
        cursor: not-allowed;
        opacity: 0.6;
      }

      .icon-calendar {
        position: absolute;
        pointer-events: none;
        width: 20px;
        height: 20px;
        background: url('/images/calendar-icon.svg');
        background-repeat: no-repeat;
        top: 37%;
        left: 48%;
        cursor: pointer;
      }
    }

    .live-input {
      background: transparent;
      width: 270px;
      height: 30px;
      border: 1px solid #E1E3E4;
      border-radius: 10px;
      padding: 12px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
    
    .live-input-wrapper {
      display: flex;
      gap: 15px;
      align-items: center;
      color: var(--white-color);
    }
  }
}

.tour-info-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 726px;

  .tour-info-wrapper {
    display: flex;
    height: 526px;
    gap: 120px;
    margin-top: 100px;

    .tour-info-left {
      display: flex;
      width: 480px;
      height: 526px;
      position: relative;

      .forest-house-img-container {
        display: flex;
        position: absolute;
        bottom: 0px;
        right: 0px;
        align-items: center;

        button {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          top: 175px;
          left: 150px;
          border-radius: 100px;
          background-color: #FDFDFD99;
          border: none;
          cursor: pointer;
        }
      }

      .white-mountains-img {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    .tour-info-right {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin: 64px 0px;
      max-width: 580px;
      height: 398px;

      .tour-info-subtitle {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      span {
        color: var(--secondary-color);
      }

      button {
        @include main-button;

        width: 200px;
        height: 52px;
      }
    }
  }
}

.our-propose {
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 100%;
  height: 771px;
  background-color: #F3F5F4;

  button {
    @include main-button;

    width: 236px;
    height: 52px;
  }

  .propose-wrapper {
    z-index: 1;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    width: 580px;
    height: 591px;

    .propose-title span {
      display: block;
      margin-bottom: 8px;
      color: var(--secondary-color);
    }

    .propose-description-container {
      display: flex;
      flex-direction: column;
      overflow: visible;
      gap: 40px;

      .description-wrapper {
        display: flex;
        gap: 16px;
        align-items: center;
        border: 1px solid transparent;
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
        cursor: pointer;

          &:hover {
            transform: scale(1.05);
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 10px 20px rgba(0,0,0,.15);
          }

        .propose-img-bg {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          margin-bottom: 4px;
          width: 91px;
          height: 50px;
        }
      }
    }
  }

  .propose-img-container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    width: 515px;
    column-gap: 10px;
    row-gap: 10px;
    height: 515px;
  }
}

.popular-destination {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 893px;

  .popular-destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 95px;

    .destination-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      span {
        color: var(--secondary-color);
      }
    }

    .destination-block-wrapper {
      display: flex;
      gap: 20px;
      overflow-y: hidden;

      .destination-card {
        position: relative;
        width: 380px;
        height: 500px;
        overflow-y: hidden;

        .star-icon {
          width: 65px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          gap: 7px;
          top: 10%;
          left: 80%;
          padding: 4px 8px;
          color: var(--deep-green-color);
          background: #FDFDFD66;
          backdrop-filter: blur(4px);
          border-radius: 4px;
        }

        .destination-card-info {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 380px;
          height: 90px;
          position: absolute;
          top: 82%;
          background: #FFFFFF33;
          backdrop-filter: blur(6px);
          border-radius: 0px 0px 32px 32px;

          .destination-card-description {
            display: flex;
            flex-direction: column;
            color: var(--white-color);
          }

          .destination-price-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-color);
            width: 86px;
            height: 40px;
            background: #FFFFFF4D;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }

    .destination-rating {
      @include main-button;

      width: 244px;
      height: 52px;
    }
  }
}

.travel-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1036px;
  background-color: #F3F5F4;

  .travel-blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .travel-blog-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      overflow-y: hidden;

      span {
        color: var(--secondary-color);
      }
    }

    .blog-cards-container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 24px;

      .blog-card {
        display: flex;
        padding: 16px;
        gap: 24px;
        width: 548px;
        height: 280px;
        border-radius: 10px;
        background-color: var(--white-color);
      }

      .blog-card-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 294px;
        padding: 16px 0px 16px 0px;
      }

      .blog-date {
        display: flex;
        justify-content: space-between;

        span {
          color: var(--secondary-color);
        }

        a {
          color: var(--deep-green-color);
          text-decoration: none;
        }
      }
    }

    .travel-blog-material-btn {
      @include main-button;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 52px;
      cursor: pointer;
    }
  }
}

  .message {
    display: flex;
    width: 350px;
    height: 70px;
    background-color: #0F172AD9;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    .message-wrapper {
      display: flex;
      justify-content: space-between;
      width: 350px;
      height: 70px;

      .message-info-container {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 15px 0px 15px 15px;

        .message-title {
          display: flex;
          flex-direction: column;
          color: var(--white-color);
        }
      }
    }


    .close-message-wrapper {
      display: flex;
      height: 20px;
      padding: 7px;

      .close-message {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

.notification-message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}