  @if (isLoading) {
    <div class="loading-wrapper">
      <img src="/images/loading-icon.svg" alt="иконка загрузки" width="51px" height="51px" class="loading-icon">
      <span>Загрузка страницы...</span>
    </div>
  }

<div [class.active]="isLoading">
  <header class="bg-mountains header">
    <div class="main-header-wrapper">
      <div class="container main-header">
        <div class="company-logo">
          <img src="/images/mountains-logo.svg" width="137px" height="29px" alt="Румтибет иконка">
          <span class="logo-name">{{ companyName }}</span>
        </div>
        <div class="main-header-info">
          <nav class="header-nav fs-18 fw-600">
            <a id="main-page-link" href="#">Главная</a>
            <a id="about-guide-link" href="#">Про гида</a>
            <a id="tour-program-link" href="#">Программа тура</a>
            <a id="price-link" href="#">Стоимость</a>
            <a id="blog-link" href="#">Блог</a>
            <a id="contancts-link" href="#">Контакты</a>
          </nav>
          <button 
            id="consultation-btn" 
            class="consultation-btn fs-16 fw-600"
            (click)="notificationService.addMessage(messageType.INFO, 'Information is not available')"
          >
            Консультация
        </button>
        </div>
      </div>
      <div class="header-date-info">

        @if (currentWidget === 'timer') {
          <p class="header-timer">{{ currentDateTime }}</p>
          <button id="show-counter-btn" (click)="switchWidgetMode('counter')">Показать счётчик</button>
        } @else {
          <div class="header-counter">
            <button 
            id="minus-counter-btn" 
            (click)="reduceCounter()"
            [disabled]="counter <= 0" 
            class="counter-btn"
          >
            -
          </button>
            <span>{{ counter }}</span>
            <button 
            id="plus-counter-btn" 
            (click)="increaseCounter()" 
            class="counter-btn"
          >
            +
          </button>
          <button id="show-timer-btn" class="show-timer-btn" (click)="switchWidgetMode('timer')">Показать таймер</button>
          </div>
        }

      </div>
    </div>
  
    <div class="sub-header container">
      <div class="subtitle-container">
        <p class="subtitle">Насладись прогулкой в горах с командой единомышленников</p>
      </div>
  
      <div class="search-panel">
        <div class="search-panel-container">
          <div class="input-field">
            <select id="tour-location" [(ngModel)]="tourLocation">
              <option hidden [value]="tourLocation">Локация для тура</option>
              <option>Италия</option>
              <option>Япония</option>
              <option>Франция</option>
              <option>Китай</option>
            </select>
            <span>выберите из списка</span>
          </div>
  
          <div class="input-field">
            <input id="hike-date" type="date" placeholder="Дата похода" [(ngModel)]="dateTrip">
            <span class="icon-calendar"></span>
            <span>укажите диапазон</span>
          </div>
  
          <div class="input-field">
            <select id="tour-participants" [(ngModel)]="participants">
              <option hidden [value]="participants">Участники</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
            <span>выберите из списка</span>
          </div>
          <button
            id="search-program-btn"
            class="search-program-btn fs-16 fw-700"
            [disabled]="!tourLocation || !dateTrip || !participants"
          >
            Найти программу
          </button>
        </div>
      </div>
      <div class="live-input-wrapper">
        <input id="live-input" type="text" class="live-input" [(ngModel)]="liveInputValue">
        <p>{{ liveInputValue }}</p>
      </div>
    </div>
  </header>
  
  <section class="tour-info-section">
    <div class="tour-info-wrapper container">
      <div class="tour-info-left">
        <img src="/images/white-mountains.png" class="white-mountains-img" alt="белые горы" width="350px" height="400px">
        <div class="forest-house-img-container">
          <img src="/images/forest-house.png" class="forest-house-img" alt="домик в лесу" width="350px" height="400px">
          <button id="play-video-btn">
            <img src="/images/play-icon.svg" alt="иконка проигрывателя" width="14px" height="15px">
          </button>
        </div>
      </div>
  
      <div class="tour-info-right">
        <div class="tour-info-subtitle">
          <span class="fw-400 fs-24 lh-20px">о нашем походе</span>
          <h3 class="fw-800 fs-32 lh-120">Исследуйте все горные массивы мира вместе с нами</h3>
        </div>
        <p class="fs-18 fw-400 lh-150">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
        <button
          id="tour-program-btn"
          class="fs-16 fw-600 lh-20px"
          (click)="notificationService.addMessage(messageType.ERROR, 'Tour programs will be later')"
        >
          Программа тура
      </button>
      </div>
    </div>
  </section>
  
  <section class="our-propose">
    <div class="propose-wrapper">
      <div class="propose-title">
        <span class="fs-24 fw-400 lh-20px">наше предложение</span>
        <h3 class="fs-32 fw-800 lh-120">Лучшие программы для тебя</h3>
      </div>
      <p class="fs-18 fw-400 lh-150">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
      <div class="propose-description-container">

        @for (program of programBlocks; track program.id) {
          <div class="description-wrapper">
            <img [src]="'/images/' + program.iconName + '.svg'" [alt]="program.iconName" width="100px" height="50px">
            <div class="propose-description">
              <span class="fs-18 fw-700 lh-20px">{{ program.title }}</span>
              <p class="fs-14 fw-400 lh-20px">{{ program.definition }}</p>
            </div>
          </div>
        }
        
      </div>
      <button 
        id="price-program-btn"
        class="fs-16 fw-600 lh-20px"
        (click)="notificationService.addMessage(messageType.WARN, 'The cost of programs will be later')"
      >
        Стоимость программ
      </button>
    </div>
  
    <div class="propose-img-container">
      <img src="/images/coffee-in-mountains.png" alt="кофе в горах" width="250px" height="250px">
      <img src="/images/human-in-desert-mountains.png" alt="мужчина в пустынных горах" width="250px" height="250px">
      <img src="/images/human-in-snow-mountains.png" alt="мужчина в горах на снегоходе" width="250px" height="250px">
      <img src="/images/green-mountains.png" alt="зелёные горы с речкой" width="250px" height="250px">
    </div>
  </section>

  <section class="popular-destination">
    <div class="popular-destination-container container">
      <div class="destination-title">
        <span class="fs-24 fw-400 lh-20px">по версии отдыхающих</span>
        <h3 class="fs-32 fw-800 lh-120">Популярные направления</h3>
      </div>

      <div class="destination-block-wrapper">

        @for (destination of destinationBlock; track destination.id) {
          <div class="destination-card">
            <img
              [src]="'/images/' + destination.imageName + '.png'"
              [alt]="destination.imageName"
              width="380px"
              height="500px"
            >
            <div class="star-icon">
              <img
                [src]="'/images/' + destination.iconName + '.svg'"
                [alt]="destination.iconName"
                width="17px"
                height="16px"
              >
              <span class="fs-14 fw-700 lh-18px">{{ destination.assessment }}</span>
            </div>
            <div 
              class="destination-card-info"
              [class.gap-35px]="destination.id === 1"
              [class.gap-76px]="destination.id === 2"
              [class.gap-45px]="destination.id === 3"
            >
              <div class="destination-card-description">
                <p class="fs-24 fw-700 lh-120">{{ destination.title }}</p>
                <p class="fs-14 fw-400 lh-18px">{{ destination.description }}</p>
              </div>
              <button id="destination-price-btn" class="destination-price-btn fs-20 fw-700 lh-24px">{{ destination.price }} &#36;</button>
            </div>
          </div>
        }

      </div>
      <button
        id="destination-rating-btn"
        class="destination-rating fs-16 fw-600 lh-20px"
        (click)="notificationService.addMessage(messageType.SUCCESS, 'Success is all directions')"
      >
        Рейтинг направлений
      </button>
    </div>
  </section>

  <section class="travel-blog">
    <div class="travel-blog-container container">
      <div class="travel-blog-title">
        <span class="fs-24 fw-400 lh-20px">делимся впечатлениями</span>
        <h3 class="fs-32 fw-800 lh-120">Блог о путешествиях</h3>
      </div>

      <div class="blog-cards-container">

        @for (blog of travelBlog; track blog.id) {
          <div class="blog-card" [class.card-shadow]="blog.id === 2">
            <img
              [src]="'/images/' + blog.image + '.png'"
              [alt]="blog.image"
              width="230px"
              height="280px"
            >
            <div class="blog-card-info">
              <h3 class="fs-24 fw-700 lh-32px">{{ blog.title }}</h3>
              <div 
              class="blog-description"
              [class.height-116px]="blog.id === 1 || blog.id === 2"
              [class.height-84px]="blog.id === 3"
              [class.height-148px]="blog.id === 4"
              >
                <p class="fs-14 fw-400 lh-20px">{{ blog.description }}</p>
              </div>
              <div class="blog-date">
                <span class="fs-14 fw-700 lh-20px">{{ blog.date }}</span>
                <a [id]="'state-' + blog.id" class="fs-14 fw-700 lh-20px" href="#">читать статью</a>
              </div>
            </div>
          </div>
        }

      </div>
      <button
        id="travel-blog-material-btn"
        class="travel-blog-material-btn fs-16 fw-600 lh-20px"
        (click)="notificationService.addMessage(messageType.ERROR, 'Will come later')"
      >
        Другие материалы
    </button>
    </div>
  </section>

  <ng-template #notificationMessage let-notification="message">
    <div class="message">
      <div class="message-wrapper">
        <div class="message-info-container">
          <img src="/images/message-icon.svg" alt="иконка сообщения" width="40px" height="40px">
          <div class="message-title">
            <span class="fs-16 fw-700 lh-20px">{{ notification.type }}</span>
            <span class="fs-14 fw-400 lh-20px">{{ notification.text }}</span>
          </div>
        </div>
        <div class="close-message-wrapper">
          <button [id]="'close-' + notification.text" class="close-message" (click)="notificationService.closeMessage(notification)">
            <img src="/images/close-message-icon.svg" alt="иконка крестика" width="20px" height="20px">
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="notification-message-wrapper">

    @for (message of notificationService.messageArr; track message) {
      <ng-container [ngTemplateOutlet]="notificationMessage" [ngTemplateOutletContext]="{ message: message }"></ng-container>
    }

  </div>
</div>
