@use '../assets/mixins' as *;

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.loading-icon {
  animation: rotate 2s linear infinite;
  background: transparent;
}

.loading-wrapper {
  width: 100%;
  height: 985px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.active {
  display: none;
}

app-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}