h4 {
  margin: 0;
}

:host::ng-deep {
  .fa-rectangle-xmark {
    width: 60px;
    height: 30px;
  }
}

.small-font-bold {
  font-size: 12px;
  line-height: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title-flex {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yellow-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--secondary-color);
}

.blocks-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  &-flex {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--additional-text-color);
  }
}

.user-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h4 {
    overflow-y: hidden;
  }

  .delete-btn-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .delete-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  border-top: 4px solid var(--secondary-color);;
  max-width: 440px;
  max-height: 630px;
  background-color: var(--primary-card-color);
  padding: 30px;

  .user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 21px;
    gap: 3px;
    height: 48px;

    span {
      color: var(--secondary-color);
    }
  }

  h4::after {
    content: '';
    display: block;
    width: 289px;
    height: 1px;
    background-color: #e2e8f0;
  }

  .contacts-info {
    &-number {
      color: var(--primary-text-color) !important;
    }
  }

  .address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;

    h4::after {
      content: '';
      display: block;
      width: 211px;
      height: 1px;
      background-color: #e2e8f0;
    }

    .geo-wrapper {
      display: flex;
      gap: 4px;
      

      .geo {
        border: 1px solid #e2e8f0;
        background-color: var(--primary-background-color);
        border-radius: 3px;
        padding: 1px 6px;
      }
    }
  }

  .workplace-wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    h4::after {
      content: '';
      display: block;
      width: 255px;
      height: 1px;
      background-color: #e2e8f0;
    }
  }
}

