@use './fonts';
@use './normalize';
@import "primeicons/primeicons.css";

* {
  font-family: 'Nunito Sans';
  overflow-x: hidden;
  overflow: visible;
  box-sizing: border-box;
}

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #F2BE22;

  --primary-card-color: #FDFDFD;

  --primary-background-color: #F3F5F4;
  --secondary-background-color: #1A3E3E;

  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  --additional-text-color: #667c7c;

  --p-primary-50: var(--p-sky-50) !important;
  --p-primary-100: var(--p-sky-100) !important;
  --p-primary-200: var(--p-sky-200) !important;
  --p-primary-300: var(--p-sky-300) !important;
  --p-primary-400: var(--p-sky-400) !important;
  --p-primary-500: var(--p-sky-500) !important;
  --p-primary-600: var(--p-sky-600) !important;
  --p-primary-700: var(--p-sky-700) !important;
  --p-primary-800: var(--p-sky-800) !important;
  --p-primary-900: var(--p-sky-900) !important; 
  --p-primary-950: var(--p-sky-950) !important;
}

.my-app-dark {
  --primary-color: var(--p-sky-950);

  --primary-card-color: #1D293D;

  --primary-background-color: #0F172B;
  --secondary-background-color: var(--p-rose-950);

  --primary-text-color: #FFFFFF;
  --additional-text-color: #FFFFFF;
}

p {
  margin: 0px;
  overflow-y: hidden;
}

h3 {
  margin: 0px;
  overflow-y: hidden;
}

.container {
  display: block;
  width: 1180px;
}


.bg-green {
  background-color: #E5EEEB;
}

.bg-blue {
  background-color: #E3E6EE;
}

.bg-yellow {
  background-color: #F3F1E1;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh-100 {
  line-height: 100%;
}

.lh-120 {
  line-height: 120%;
}

.lh-150 {
  line-height: 150%;
}

.lh-14px {
  line-height: 14px;
}

.lh-17px {
  line-height: 17px;
}

.lh-20px {
  line-height: 20px;
}

.lh-24px {
  line-height: 24px;
}

.lh-30px {
  line-height: 30px;
}

.lh-32px {
  line-height: 32px;
}

.card-shadow {
  box-shadow: 0px 0px 15px 0px #18121E1F;
}

.content-container {
  background-color: var(--primary-color);
}