@use './fonts';
@use './normalize';
@import 'primeicons/primeicons.css';

* {
  font-family: 'Nunito Sans';
  overflow-x: hidden;
  overflow: visible;
  box-sizing: border-box;
}

:root {
  --primary-color: #fdfdfd;
  --secondary-color: #f2be22;

  --primary-card-color: #fdfdfd;
  --secondary-card-color: #fff;

  --primary-background-color: #f3f5f4;
  --secondary-background-color: #1a3e3e;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --additional-text-color: #667c7c;

  --p-primary-50: var(--p-sky-50) !important;
  --p-primary-100: var(--p-sky-100) !important;
  --p-primary-200: var(--p-sky-200) !important;
  --p-primary-300: var(--p-sky-300) !important;
  --p-primary-400: var(--p-sky-400) !important;
  --p-primary-500: var(--p-sky-500) !important;
  --p-primary-600: var(--p-sky-600) !important;
  --p-primary-700: var(--p-sky-700) !important;
  --p-primary-800: var(--p-sky-800) !important;
  --p-primary-900: var(--p-sky-900) !important;
  --p-primary-950: var(--p-sky-950) !important;
}

.my-app-dark {
  --primary-color: var(--p-sky-950);

  --primary-card-color: #1d293d;
  --secondary-card-color: var(--p-surface-900);

  --primary-background-color: #0f172b;
  --secondary-background-color: var(--p-rose-950);

  --primary-text-color: #ffffff;
  --additional-text-color: #ffffff;
}

p {
  margin: 0px;
  overflow-y: hidden;
}

h3 {
  margin: 0px;
  overflow-y: hidden;
}

.container {
  display: block;
  width: 1180px;
}

.bg-green {
  background-color: #e5eeeb;
}

.bg-blue {
  background-color: #e3e6ee;
}

.bg-yellow {
  background-color: #f3f1e1;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh-100 {
  line-height: 100%;
}

.lh-120 {
  line-height: 120%;
}

.lh-150 {
  line-height: 150%;
}

.lh-14px {
  line-height: 14px;
}

.lh-17px {
  line-height: 17px;
}

.lh-20px {
  line-height: 20px;
}

.lh-24px {
  line-height: 24px;
}

.lh-26px {
  line-height: 26px;
}

.lh-30px {
  line-height: 30px;
}

.lh-32px {
  line-height: 32px;
}

.card-shadow {
  box-shadow: 0px 0px 15px 0px #18121e1f;
}

.content-container {
  background-color: var(--primary-color);
}

.active {
  font-weight: bold;
}

.gradient-border {
  position: relative;
  border: var(--border-width) solid transparent;
  background:
    linear-gradient(#ffffff) padding-box,
    linear-gradient(90deg, var(--gradient-colors)) border-box;
  background-size:
    100% 100%,
    300% 300%;
  background-position:
    0 0,
    0% 50%;
  animation: gradientBorder 4s infinite linear;
}

@keyframes gradientBorder {
  0% {
    background-position:
      0 0,
      0% 50%;
  }

  50% {
    background-position:
      0 0,
      100% 50%;
  }

  100% {
    background-position:
      0 0,
      0% 50%;
  }
}
