@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  overflow-x: hidden;
}

p {
  margin: 0px;
  overflow-y: hidden;
}

h3 {
  margin: 0px;
  overflow-y: hidden;
}

.container {
  display: block;
  width: 1180px;
}


.bg-green {
  background-color: #E5EEEB;
}

.bg-blue {
  background-color: #E3E6EE;
}

.bg-yellow {
  background-color: #F3F1E1;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #F2BE22;
  --white-color: #FDFDFD;
  --deep-green-color: #1A3E3E;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh-100 {
  line-height: 100%;
}

.lh-120 {
  line-height: 120%;
}

.lh-150 {
  line-height: 150%;
}

.lh-20px {
  line-height: 20px;
}

.lh-24px {
  line-height: 24px;
}

.lh-32px {
  line-height: 32px;
}

.gap-35px {
  gap: 35px;
}

.gap-45px {
  gap: 45px;
}

.gap-76px {
  gap: 76px;
}

.card-shadow {
  box-shadow: 0px 0px 15px 0px #18121E1F;
}

.height-116px {
  height: 116px;
}

.height-148px {
  height: 148px;
}

.height-84px {
  height: 84px;
}